<div id="<%= dom_id comment %>">
 <div class="bg-light p-2 text-dark bg-opacity-75">
  <p>
    <strong>Contenido:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>ID Usuario:</strong>
    <%= comment.user.name %>
  </p>

  <p>
    <strong>ID Post:</strong>
    <%= comment.trnpost_id %>
  </p>

</div>
</div>