<body class="fondo">
    
<div class="position-absolute top-50 start-50 translate-middle text-center">
    <div class="bg-light p-2 text-dark bg-opacity-75">
<h1 class="title"><u>The Rial News</u></h1>
<p><em class="display-5">Tu pagina de noticias satíricas</em></p>
<%= image_tag 'penny.png', class:"penny" %>
    </div>
</div>
</body>