<div class="bg-light p-2 text-dark bg-opacity-75 col-5">
<h1>Editar este Post</h1>

<%= render "form", trnpost: @trnpost %>

<br>

<div>
  <%= link_to "Mostrar este Post", @trnpost, class:"btn btn-dark" %> |
  <%= link_to "Volver a Posts", trnposts_path, class:"btn btn-dark" %>
</div>
</div>