<p style="color: green"><%= notice %></p>

<%= link_to "Nueva Noticia", new_trnpost_path, class:"btn btn-dark mb-2" %>


<div id="posts">
  <% @trnposts.each do |trnpost| %>
    <%= render trnpost %>
    <p>
      <%= link_to "Mostrar este Post", trnpost, class:"btn btn-dark" %>
    </p>
  <% end %>
</div>



