<p style="color: green"><%= notice %></p>

<%= link_to "Nueva Noticia", new_post_path, class:"btn btn-dark mb-2" %>


<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Mostrar este Post", post, class:"btn btn-dark" %>
    </p>
  <% end %>
</div>



