
.fondo {
    background-image: url(news.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.tcolor {
    color: white;
}

.title{ 
    font-family: 'Anton', sans-serif;
    font-size: 700%;
    font-style: oblique;
}

.penny {
    width: 15%;
}
